body {
    background-color: #111 !important;
}

/* NAVBAR */

nav{
    background-color: transparent !important;
    position: absolute !important;
    width: 100%;
    top: 0;
    left: 0 ;
    z-index: 1;
}

@media (max-width: 768px) {
    #navbarSupportedContent{
        background-color: rgba(0,0,0,0.5); !important;
    }
}

.nav-link{
    color: #aaa;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif !important;
    font-size: 18px;
}

.nav-link:hover{
    color: #fff;
    transition: 0.5s;
}

.brandname {
    font-family: 'Nunito', sans-serif;
    font-size: 35px !important;
    letter-spacing: 5px;
    color: #fff;
    animation: color1 10s linear infinite;
    position: relative;
    cursor: pointer;
}

.brandname::before{
    content: "WIXYCO";
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(5px);
    z-index: -1;
    animation: color2 10s linear infinite;
}

.brandname::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -2;
    opacity: .1;
    filter: blur(30px);
    animation: color3 10s linear infinite;
}

@keyframes color1 {
     0%{
        text-shadow: 0 0 30px blue;
    }
    33.33%{
        text-shadow: 0 0 30px red;
    }
    66.66%{
        text-shadow: 0 0 30px #01c709;
    }
    100%{
        text-shadow: 0 0 30px blue;
    }
}

@keyframes color2 {
    0%{
        color: blue;
    }
    33.33%{
        color: red;
    }
    66.66%{
        color: #01c709;
    }
    100%{
        color: blue;
    }
}

@keyframes color3 {
    0%{
        background-color:  blue;
    }
    33.33%{
        background-color:  red;
    }
    66.66%{
        background-color:  #01c709;
    }
    100%{
        background-color:  blue;
    }
}

/* NAVBAR */

/*head div with bg*/

.view{
    height: 95vh;
    -webkit-clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    clip-path: polygon(50% 100%, 100% 90%, 100% 0, 0 0, 0 90%);
    background-image: url("img/head_bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*background: url("https://images.unsplash.com/photo-1580927752452-89d86da3fa0a?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjExODA5M30")no-repeat center center;*/
    background-size: cover;
    position: relative;
    top: -10;
    left: 0;
}

.view h1{
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
    font-size: 50px;

}

.view p{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.view h2{
    font-family: 'Lato', sans-serif;
    font-size: 40px;
}

.view h5{
    font-family: 'Lato', sans-serif;
    font-size:18px;
    line-height: 30px;
    letter-spacing: 1px;
}

@media (max-width: 992px) {
    .view h1{
        font-size: 40px;
    }
    .view h2{
        font-size: 30px;
    }
}

@media (max-width: 768px) {
    .view h1{
        font-size: 30px;
    }
    .view h2{
        font-size: 20px;
    }
    .view p{
        font-size: 15px;
    }
    .view h5{        
        font-size:16px;
        line-height: 25px;
        letter-spacing: 1px;
    }
}

@media (max-width: 480px) {
    .view h1{
        font-size: 25px;
    }
    .view h2{
        font-size: 18px;
    }
    .view p{
        font-size: 14px;
    }
    .view h5{        
        font-size:15px;
        line-height: 25px;
        letter-spacing: 1px;
    }
}

/*head div with bg*/

/*service*/

.servicecards {
    /* height: 250px; */
    background: transparent !important;
    border-radius: 15px !important;
    border: 1px solid #ddd;

}

.servicecards h1{
    color: #fff;
    font-size: 30px;
    text-shadow: 0 0 30px blue;
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif !important;
    text-transform: uppercase;
}

.servicecards p, .txt_des{
    color: #ccc;
    font-family: 'Lato', sans-serif;
    word-spacing: 2px;
    line-height: 30px;
    text-align: justify;
}

.servicesicons {
    height: 200px !important;
    width: 200px !important;
}

/*service*/


/*text neon*/

#Services .head_text {
    color: #fff;
    background:transparent;
    text-shadow: 0 0 3px #fff;
    font-weight: bold;
    font-family: Arial;
    font-size: 40px;
    text-transform: uppercase;
}
#Services .neon-wrapper {
    display: inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}

#Services .head_text::before {
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(1px);
}



/*text neon*/

/*life cycle*/

#life_cycle{
    background-image: url("img/life-cycle.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#life_cycle h5{
    font-family: 'Lato', sans-serif;
    color: #fff;
    font-size: 16px;
    font-weight: bold;

}

#life_cycle p{
    letter-spacing: 1px;
    font-family: 'Josefin Sans', sans-serif !important;
    color: #f0ad4e;
}


#life_cycle .head_text {
    color: #fff;
    background:transparent;
    text-shadow: 0 0 2px #fff;
    font-weight: bold;
    font-family: Arial;
    font-size: 40px;
    text-transform: uppercase;
}
#life_cycle .neon-wrapper {
    display: inline-flex;
    filter: brightness(200%);
    overflow: hidden;
}

#life_cycle .head_text::before {
    content: attr(data-text);
    position: absolute;
    mix-blend-mode: difference;
    filter: blur(1px);
}

@media (max-width: 992px) {
    #life_cycle .head_text {
    text-shadow: 0 0 2px #fff;
    font-size: 30px;
}
}

@media (max-width: 768px) {
    #life_cycle .head_text {
    text-shadow: 0 0 2px #fff;
    font-size: 30px;
}
}



/*life cycle*/


















/*navbar tub light*/

@-webkit-keyframes text-flicker-in-glow {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0;
        text-shadow: none
    }

    10.1% {
        opacity: 1;
        text-shadow: none
    }

    10.2% {
        opacity: 0;
        text-shadow: none
    }

    20% {
        opacity: 0;
        text-shadow: none
    }

    20.1% {
        opacity: 1;
        
    }

    20.6% {
        opacity: 0;
        text-shadow: none
    }

    30% {
        opacity: 0;
        text-shadow: none
    }

    30.1% {
        opacity: 1;
    }

    30.5% {
        opacity: 1;
    }

    30.6% {
        opacity: 0;
        text-shadow: none
    }

    45% {
        opacity: 0;
        text-shadow: none
    }

    45.1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    55.1% {
        opacity: 0;
        text-shadow: none
    }

    57% {
        opacity: 0;
        text-shadow: none
    }

    57.1% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    60.1% {
        opacity: 0;
        text-shadow: none
    }

    65% {
        opacity: 0;
        text-shadow: none
    }

    65.1% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    75.1% {
        opacity: 0;
        text-shadow: none
    }

    77% {
        opacity: 0;
        text-shadow: none
    }

    77.1% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    85.1% {
        opacity: 0;
        text-shadow: none
    }

    86% {
        opacity: 0;
        text-shadow: none
    }

    86.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes text-flicker-in-glow {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0;
        text-shadow: none
    }

    10.1% {
        opacity: 1;
        text-shadow: none
    }

    10.2% {
        opacity: 0;
        text-shadow: none
    }

    20% {
        opacity: 0;
        text-shadow: none
    }

    20.1% {
        opacity: 1;
    }

    20.6% {
        opacity: 0;
        text-shadow: none
    }

    30% {
        opacity: 0;
        text-shadow: none
    }

    30.1% {
        opacity: 1;
    }

    30.5% {
        opacity: 1;
    }

    30.6% {
        opacity: 0;
        text-shadow: none
    }

    45% {
        opacity: 0;
        text-shadow: none
    }

    45.1% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 1;
    }

    55.1% {
        opacity: 0;
        text-shadow: none
    }

    57% {
        opacity: 0;
        text-shadow: none
    }

    57.1% {
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    60.1% {
        opacity: 0;
        text-shadow: none
    }

    65% {
        opacity: 0;
        text-shadow: none
    }

    65.1% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    75.1% {
        opacity: 0;
        text-shadow: none
    }

    77% {
        opacity: 0;
        text-shadow: none
    }

    77.1% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }

    85.1% {
        opacity: 0;
        text-shadow: none
    }

    86% {
        opacity: 0;
        text-shadow: none
    }

    86.1% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

/*navbar tub light*/
